body {
  background-image: url('movieb.avif'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
}


header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
}

.nav a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.player {
  flex: 2;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
}

video {
  width: 100%;
  border-radius: 8px;
}

.movie-list {
  flex: 1;
  margin-left: 20px;
}

.movie-list ul {
  list-style: none;
  padding: 0;
}

.movie-btn {
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.movie-btn:hover {
  background-color: #555;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
h2{
  font-size: larger;
  font-style: italic;
  color: white;
}